/*
label {
    border: solid 1px;
    border-color: red;
}
*/

* {
    font-family: 'Noto Sans Mono', 'Blobmoji';
}

.info_row_label {
    font-size: 14px;
    color: darkgray;
}

.info_row_value {
    font-size: 42px;
    color: white;
}

.small_weather_label {
    font-size: 22px;
    color: white;
}

.custom_button {
    font-size: 28px;
    border-radius: 36px;
    border-color: blueviolet;
    padding: 8px 48px;
}

.positive_button {
    color: rgb(63, 225, 74);
}
